body {
    align-items: center;
    background-color: #030618;
    display: flex;
    font-family: Roboto, sans-serif;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

#grid-container {
    border: solid 5px #ff2b2b;
    border-radius: 5px;
    background-color: #505050;
    display: flex;
    flex-wrap: wrap;
    height: 500.5px;
    justify-content: space-between;
    width: 500.5px;
}

.grid-box {
    background-color: white;
    border: solid 0.5px #505050;
    height: 29.25px;
    margin: 0px;
    width: 29.25px;
}

h2 {
    color: whitesmoke;
    margin: 10px;
}

.reset-btn {
    background-color: white;
    border: solid 3px #ff2b2b;
    border-radius: 5px;
    color: #000000;
    font-size: medium;
    font-weight: bold;
    padding: 3px 64px;
}

.reset-resize-btn {
    background-color: white;
    border: solid 3px #ff2b2b;
    border-radius: 5px;
    color: #000000;
    font-size: medium;
    font-weight: bolder;
    margin: 5px;
    padding: 3px 30px;
}

.reset-resize-btn:hover, .reset-btn:hover {
    background-color: black;
    color: white;
}